.dinner-btn{
    border-style: none;
    background-color: transparent;
    // padding: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
.dinner-btn:hover{
    border: blanchedalmond solid 1px;
    border-radius: 1rem;
    // padding: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    
}


