
@mixin big {
    @media (min-width: 701px){
        @content;
    }
}

.navbar-start{
    display: flex;
    justify-content: space-between;

    .navbar-item{
        text-align: center;       
    }
    .navbar-item:hover{
        color: black;
        
    }

    .navbar-link{
        border: #145737 solid 2px;
        border-radius: 6rem;
        padding: 1rem;
        color: #145737;;
        
        text-align: center;
        @include big{
            color: rgb(172, 49, 49);
            border: rgb(172, 49, 49) solid 2px;
            border-radius: 4rem;
        }
    }

    .navbar-link:hover{
        border: black solid 2px;
    }

    .logo{
        text-align: center;
        justify-content: center;
        color:#145737;
        @include big{
            color: rgb(172, 49, 49);
            margin: 0 3rem;
        }
    }
    
}

.menu-list-container{
    max-width: 700px;
    min-width: 200px;
    margin: 0 auto;
    border: grayscale($color: #000000) ridge 0.75rem;
    border-radius: 0.2rem;
    background-color: black;
    color:blanchedalmond;
    height: 80vh;
    width: 25rem;
    @include big{
        height: 80vh;
        width: 50rem;
    }

    .title{
        margin: 0 auto;
        text-align: center;
        color: blanchedalmond;
    }
    
    .menu-list-cont{
        margin: 0 auto;
        text-align: center;

        .meal{
            height: 6rem;
            padding: 1rem;
            @include big{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .recepie{
            position: fixed;
            z-index: 1;
            left: auto;
            top: 15rem;
            width: 23.5rem;
            height: 64vh;
            overflow: auto; 
            background-color: #ffa61f;
            padding: 1rem;
            @include big{
                left: 0;
                top: 5rem;
                width: 24%;
                height: 80vh;
                margin: 1rem;
                align-items: center;
                background-color: blanchedalmond;
                border: black dotted 1px;
            }

            
            .name, .ingredients, .preparation{
                color: black;
                margin: auto 0;
            }

            .ingredients{
                padding: 1rem;
                text-align: left;
            }
        }
    }
}