.recepie-form{
    padding-left: 8rem;
    margin-top: 2rem;
    
    .inputForm{
        margin: 1.5rem;
        
        .input{
            width: 50vw;
            height: 3rem;
        }
    
        .textarea{
            height: 6rem;
        }
    }
    
    
}


